/* Default input appearance */
input {
	text-align: left;
}

.form-control, .form-select {
	background-color: #fff;
	line-height: 2;
	font-weight: 400;
}
.form-control[type=date] {
	height: 46px;
	line-height: 1;
}
.form-control:focus, .form-select:focus {
	background-color: #fff;
}

div.form-control-display-only {
	font-weight: bold;
}

label.control-label {
	font-weight: 500;
	margin-top: .75rem;
	font-size: .875rem;
}

button.btn-file {
	border-top-right-radius: 0.3125rem;
	border-bottom-right-radius: 0.3125rem;
}

/* Bootstrap fix to handle my error-icon-hover-area */
.input-group.tip-icon-wrapper > div.input-group-tip-icon-wrapper {
	position: relative;
	flex: 1 1 auto;
	width: 1%;
	min-width: 0;
}

.input-group > :not(:last-child):not(.input-group-tip-icon-wrapper),
.input-group > .input-group-tip-icon-wrapper:not(:last-child) > .form-control {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group > :nth-last-child(n+3):not(.input-group-tip-icon-wrapper),
.input-group.has-validation > .input-group-tip-icon-wrapper:nth-last-child(n+3) > .form-control {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group > .input-group-tip-icon-wrapper:not(:first-child) > .form-control {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Range validation indicators */
.range-slider.is-invalid {
	background-image: linear-gradient(#dc3545,#dc3545);
}

	.range-slider.is-invalid::-webkit-slider-thumb {
		background: #dc3545;
		box-shadow: 0 0 2px 0 #555;
	}

		.range-slider.is-invalid::-webkit-slider-thumb:active, .range-slider.is-invalid::-webkit-slider-thumb:hover {
			background: #fff;
			box-shadow: inset 0 0 0 3px #dc3545;
		}

	.range-slider.is-invalid::-moz-range-thumb {
		background-color: #dc3545;
	}

	.range-slider.is-invalid:focus::-moz-range-thumb {
		box-shadow: inset 0 0 0 3px #dc3545;
	}

	.range-slider.is-invalid::-moz-range-progress {
		background-color: #dc3545;
		border-color: #dc3545;
	}

.range-slider.is-warning {
	background-image: linear-gradient(#ffca2c,#ffca2c);
}

	.range-slider.is-warning::-webkit-slider-thumb {
		background: #ffca2c;
		box-shadow: 0 0 2px 0 #555;
	}

		.range-slider.is-warning::-webkit-slider-thumb:active, .range-slider.is-warning::-webkit-slider-thumb:hover {
			background: #fff;
			box-shadow: inset 0 0 0 3px #ffca2c;
		}

	.range-slider.is-warning::-moz-range-thumb {
		background-color: #ffca2c;
	}

	.range-slider.is-warning:focus::-moz-range-thumb {
		box-shadow: inset 0 0 0 3px #ffca2c;
	}

	.range-slider.is-warning::-moz-range-progress {
		background-color: #ffca2c;
		border-color: #ffca2c;
	}


/* Bubble display styles: https://css-tricks.com/value-bubbles-for-range-inputs/ */
.range-slider-wrap {
	position: relative;
}

.range-slider-bubble {
	position: absolute;
	top: -20px;
	display: none;
}

	.range-slider-bubble.active {
		display: block;
	}

	.range-slider-bubble span {
		width: 30px;
		height: 24px;
		line-height: 24px;
		text-align: center;
		background: #000;
		color: #fff;
		font-size: 12px;
		display: block;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		border-radius: 6px;
	}

		.range-slider-bubble span:before {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-top: 10px solid #000;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			margin-top: -1px;
		}

/* Input Validation Display */
.tip-icon-wrapper {
	position: relative;
}

.error-icon-hover-area {
	position: absolute;
	background-color: transparent;
	width: 30px;
	height: 100%;
	top: 0;
	right: 0;
}

.form-select.is-invalid + .error-icon-hover-area, .form-select.is-warning + .error-icon-hover-area {
	right: 30px;
}

.form-check-input:not([type=radio]).is-invalid + .error-icon-hover-area, .form-check-input:not([type=radio]).is-warning + .error-icon-hover-area {
	width: 100px;
	right: auto;
}

.radiolist.is-invalid > .error-icon-hover-area, .radiolist.is-warning > .error-icon-hover-area {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.1875rem) top;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.radiolist.is-warning > .error-icon-hover-area {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23721c24' class='bi bi-exclamation-triangle' viewBox='0 0 16 16'%3E%3Cpath d='M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z'/%3E%3Cpath d='M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z'/%3E%3C/svg%3E");
}

.radiolist.is-invalid > .form-check > .form-check-label, .radiolist.is-warning > .form-check > .form-check-label {
	padding-right: calc(0.75em + 0.375rem);
}

.form-control.is-warning {
	border-color: #721c24;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23721c24' class='bi bi-exclamation-triangle' viewBox='0 0 16 16'%3E%3Cpath d='M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z'/%3E%3Cpath d='M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z'/%3E%3C/svg%3E");
	background-position: right calc(0.375em + 0.1875rem) center;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control.is-warning:focus {
	box-shadow: 0 0 0 0.25rem #e4daac;
}

textarea.form-control.is-warning {
	padding-right: calc(1.5em + 0.75rem);
	background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.form-select.is-warning {
	border-color: #721c24;
}

	.form-select.is-warning:not([multiple]):not([size]), .form-select.is-warning:not([multiple])[size="1"] {
		padding-right: 4.125rem;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23721c24' class='bi bi-exclamation-triangle' viewBox='0 0 16 16'%3E%3Cpath d='M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z'/%3E%3Cpath d='M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z'/%3E%3C/svg%3E");
		background-position: right 0.75rem center, center right 2.25rem;
		background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
	}

	.form-select.is-warning:focus {
		border-color: #721c24;
		box-shadow: 0 0 0 0.25rem #e4daac;
	}

.form-check-input.is-warning {
	border-color: #721c24;
}

	.form-check-input.is-warning:checked {
		background-color: #721c24;
	}

	.form-check-input.is-warning:focus {
		box-shadow: 0 0 0 0.25rem #e4daac;
	}

	.form-check-input.is-warning ~ .form-check-label {
		color: #721c24;
	}

/* On mobile, don't show the error icon b/c it is hover only, the same message will be in validation summary */
.is-mobile .radiolist.is-invalid > .error-icon-hover-area, 
.is-mobile .radiolist.is-warning > .error-icon-hover-area,
.is-mobile .form-control.is-warning,
.is-mobile .form-select.is-warning:not([multiple]):not([size]), 
.is-mobile .form-select.is-warning:not([multiple])[size="1"],
.is-mobile .form-control.is-invalid,
.is-mobile .was-validated .form-control:invalid,
.is-mobileapp .radiolist.is-invalid > .error-icon-hover-area, 
.is-mobileapp .radiolist.is-warning > .error-icon-hover-area,
.is-mobileapp .form-control.is-warning,
.is-mobileapp .form-select.is-warning:not([multiple]):not([size]), 
.is-mobileapp .form-select.is-warning:not([multiple])[size="1"],
.is-mobileapp .form-control.is-invalid,
.is-mobileapp .was-validated .form-control:invalid {
	background-image: none;
}

.is-mobile .form-control[type="date"].is-invalid,
.is-mobile .was-validated .form-control[type="date"]:invalid,
.is-mobileapp .form-control[type="date"].is-invalid,
.is-mobileapp .was-validated .form-control[type="date"]:invalid {
	padding-right: .75rem;
}